{% extends "base.html" %} {% block title %}adminDeleteItem{% endblock %}
{% block content %}
  <h1> Admin Delete Item Page </h1>

  {% if info %}
  <div>{{ info }}</div>
  {% endif %}

  <h3> Item Table </h3>
  <div style="">
    <div style="height:150px;overflow:auto;">
      <table style="">
        <thead style="">
          <tr>
            {% for header in itemHeadings %}
            <th style="text-align:center;">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in itemData %}
        <tr>
          {% for cell in row %}
            <td style="text-align:center;background:#e5e5e5;">{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <form style="margin-top:20px;" method="POST">
    <label for="id">ID of Item to Delete</label><br>
    <input type="id" pattern="[0-9]+" id="id" name="id"><br><br>
    <input type="submit" value="Delete Item">
  </form>

{% endblock %}