{% extends "base.html" %} {% block title %}{{ user['name'] }}{% endblock %}
{% block content %}
    <h1>
        {{ user['name'] }}'s Profile
        {% if user['id'] == session['login.id'] or session['login.type'] == 'admin' %}
            <a class="btn btn-primary" href="/edit_profile/{{ user['id'] }}">Edit</a>
        {% endif %}
    </h1>

    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Member ID</strong></th>
                <td>{{ user['id'] }}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Account Type</strong></th>
                <td>{{ user['type'] }}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Email Address</strong></th>
                <td>{{ user['email'] }}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Phone Number</strong></th>
                <td>{{ user['phone'] }}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Completed Transactions</strong></th>
                <td>{{ user['num_transactions'] }}</td>
            </tr>
            <tr>
                <th class="pl-0 w-25" scope="row"><strong>Average Rating</strong></th>
                <td>{{ user['avg_rating'] }}</td>
            </tr>
            </tbody>
        </table>
        {% if user['comments']|length > 0 %}
            <h2>Comments</h2>
            <table class="table table-borderless">
                <tbody>
                {% for comment in user['comments'] %}
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong><a href="/product/{{ comment[1] }}">{{ comment[2] }}</a></strong></th>
                        <td>{{ comment[0] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
