{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
  <h1> Item List of {{categoryName}}</h1>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div style="display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      margin: 0 auto;
      overflow-x: auto;
      white-space: nowrap;">
        <div class="table-responsive">
          <table class="table">
            <tbody>
                <tr>
                    <th>ItemID</th>
                    <th>ItemName</th>
                    <th>ItemDescription</th>
                    <th>ItemPhoto</th>
                    <th>ItemStartingBid</th>
                    <th>ItemBidIncrement</th>
                    <th>ItemStartDate</th>
                    <th>ItemEndDate</th>
                    <th>ItemSellerID</th>
                    <th>ProductDetailsLink</th>
                </tr>
                {% for i in ItemTuple %}
                    <tr>
                        <td> {{ i[0] }}</td>
                        <td> {{ i[1] }}</td>
                        <td> {{ i[2] }}</td>
                        <td> {{ i[3] }}</td>
                        <td> {{ "$%.2f" | format(i[4]| float) }}</td>
                        <td> {{ "$%.2f" | format(i[5]| float) }}</td>
                        <td> {{ i[6] }}</td>
                        <td> {{ i[7] }}</td>
                        <td> {{ i[8] }}</td>
                        <td> <a href="http://127.0.0.1:5000/product/{{i[0]}}">Product Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
